<mat-grid-list cols="1" *ngIf="!comics; else seeComics">
    <mat-spinner></mat-spinner>
</mat-grid-list>

<ng-template #seeComics >
    <div class="container-title-comics">
        <h1>Comics</h1>
    </div>
    <div 
        class="container-formats"
        fxLayout.sm="row wrap"
    >
        <button
            mat-button color="warn"
            *ngFor="let item of formats"
            class="bnt-filter"
            (click)="filterByFormat( item )"
        >
            {{ item | titlecase }}
        </button>
    </div>
    <div class="container">
        <div 
            fxFlex="30" 
            fxFlex.lg="30" 
            fxFlex.sm="45" 
            *ngFor="let comic of comics"
        >
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ comic.title }}</mat-card-title>
                </mat-card-header>
            
                <img class="image-comic" src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" [alt]="comic.title">
            
                <mat-card-content>
                    <h2>{{ comic.modified | date }}</h2>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</ng-template>