.form-container {
    width: 300px;
    margin: 3% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    .title-new-task {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 100%;

        mat-form-field, button {
            margin-top: 10px;
        }
    }
}