<div class="container-title-stories">
    <h1>Stories</h1>
</div>

<div class="container-cards-stories">
    <mat-card class="card-stories" *ngFor="let story of stories$; let i = index">
        <mat-card-header>
            <mat-card-title> Story {{ i + 1}} </mat-card-title>
            <mat-card-subtitle> {{ story.modified | date: 'longDate' }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <span> {{ story.originalIssue.name }} </span>
        </mat-card-content>
    </mat-card>
</div>