.container-title-stories {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.container-cards-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    .card-stories {
        width:47%;
        margin-bottom: 2%;
        mat-card-header {
            margin-bottom:3%;
        }
    }
}
