<div fxLayout="column">
    <div>
        <h1>Character finder</h1>
        <mat-divider></mat-divider><br>
    </div>
    <div fxLayout="column">
        <mat-form-field>
            <mat-label>
                Character
            </mat-label>
                <input 
                    type="text"
                    placeholder="Example: Thor"
                    matInput
                    [matAutocomplete]="auto"
                    [(ngModel)]="term"
                    (input)="searchCharacters()"
                >
            <mat-autocomplete 
                autoActiveFirstOption 
                #auto="matAutocomplete"
                (optionSelected)="selectedOption( $event )"
            >
                <mat-option *ngFor="let character of characters" [value]="character">
                    {{character.name}}
                </mat-option>

                <mat-option value="" *ngIf="characters.length === 0 && term.length > 0">
                    Nothing was found for the term {{ term }}.
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <app-search-results
        [result]="selectedCharacter"
    ></app-search-results>
</div>