<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">

        <mat-toolbar>
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()" >
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>

            <a
                routerLink="/character"
                mat-list-item
                (click)="sidenav.toggle()"
            >
                <span>All Characters</span>
            </a>

            <a
                routerLink="/"
                mat-list-item
                (click)="sidenav.toggle()"
            >
                <span>Search Character</span>
            </a>

        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()" >
            <mat-icon>menu</mat-icon>
        </button>
        <button [routerLink]="['/']" mat-button>
            Marvel
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>