<div class="card-container">
    <div 
        [routerLink]="['/marvel/character', character.id]" 
        class="card" 
        *ngFor="let character of characters$"
    >
        <div class="img-card">
            <img class="image" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" [alt]="character.name">
        </div>
        <div class="card-content">
            <div class="card-title">
                <h1> {{ character.name }} </h1>
                <h4> {{ character.modified | date }} </h4>
            </div>
            <div class="card-text">
                <div *ngIf="!character.description; else seeDescription">
                    <p> The character {{ character.name }} currently has no description. </p>
                </div>
                <ng-template #seeDescription >
                    <p> {{ character.description }} </p>
                </ng-template>
            </div>
        </div>
    </div>
</div>